body
{
	background-image: url("images/background.png");
	width: 10px;
	height: 10px;
	background-repeat:repeat;
	background-size: 500px 500px;
}

.mainContainer
{
	margin: 50px;
	margin-left: 100px;
	width: 800px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
  	border: 1px solid #F34428;
	-moz-box-shadow: 0 0 20px 10px #000000;
  	-webkit-box-shadow: 0 0 20px 10px #000000;
    box-shadow: 0 0 20px 10px #000000;
    background-image: url('images/grey.png');
    margin-bottom: 10px;
}

#bannerImage
{
	position:absolute;
	left:100px;
	top:20px;
}

#bannerText
{
	color: white;
	margin: 0px;
	margin-left: 350px;
	font-size: 40px;
	margin-bottom: 10px;
	margin-top: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#bannerSubtext
{
	color: white;
	margin: 0px;
	margin-left: 350px;
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.banner
{
	-moz-border-radius: 10px 10px 00px 00px;
	border-radius: 10px 10px 00px 00px;
	height: 140px;
	width: 800px;
}

.menuLink-Left
{
	float: left;
	-moz-border-radius: 25px 0px 0px 25px;
	border-radius: 25px 0px 0px 25px;
	-moz-box-shadow:inset 0px 0px 10px 5px #000000;
  	-webkit-box-shadow:inset 0px 0px 10px 5px #000000;
    box-shadow:inset 0px 0px 10px 5px #000000;
	color: #5F0D00;
	width: 209px;
	height: 47px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #F34428;
	padding-top: 3px;
}

.menuLink-Middle
{
	float: left;
	-moz-box-shadow:inset 0px 0px 10px 5px #000000;
  	-webkit-box-shadow:inset 0px 0px 10px 5px #000000;
    box-shadow:inset 0px 0px 10px 5px #000000;
	color: #5F0D00;
	width: 209px;
	height: 47px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #F34428;
	padding-top: 3px;

}

.menuLink-Right
{
	float: left;
	-moz-border-radius: 0px 25px 25px 0px;
	border-radius: 0px 25px 25px 0px;
	-moz-box-shadow:inset 0px 0px 10px 5px #000000;
  	-webkit-box-shadow:inset 0px 0px 10px 5px #000000;
    box-shadow:inset 0px 0px 10px 5px #000000;
	color: #5F0D00;
	width: 209px;
	height: 47px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 3px;
}

.menuLink-Left-Selected
{
	float: left;
	-moz-border-radius: 25px 0px 0px 25px;
	border-radius: 25px 0px 0px 25px;
	-moz-box-shadow:inset 0px 0px 10px 5px #000000;
  	-webkit-box-shadow:inset 0px 0px 10px 5px #000000;
    box-shadow:inset 0px 0px 10px 5px #000000;
	color: #5F0D00;
	width: 209px;
	height: 47px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #F34428;
	padding-top: 3px;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8D40) to(#FF6700));
	background-image: -webkit-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -moz-linear-gradient(top,#FF8D40, #FF6700);
	background-image: -ms-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -o-linear-gradient(top, #FF8D40, #FF6700);
	background-image: linear-gradient(top, #FF8D40, #FF6700);

}

.menuLink-Middle-Selected
{
	float: left;
	-moz-box-shadow:inset 0px 0px 10px 5px #000000;
  	-webkit-box-shadow:inset 0px 0px 10px 5px #000000;
    box-shadow:inset 0px 0px 10px 5px #000000;
	color: #5F0D00;
	width: 209px;
	height: 47px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #F34428;
	padding-top: 3px;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8D40) to(#FF6700));
	background-image: -webkit-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -moz-linear-gradient(top,#FF8D40, #FF6700);
	background-image: -ms-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -o-linear-gradient(top, #FF8D40, #FF6700);
	background-image: linear-gradient(top, #FF8D40, #FF6700);
}

.menuLink-Right-Selected
{
	float: left;
	-moz-border-radius: 0px 25px 25px 0px;
	border-radius: 0px 25px 25px 0px;
	-moz-box-shadow:inset 0px 0px 10px 5px #000000;
  	-webkit-box-shadow:inset 0px 0px 10px 5px #000000;
    box-shadow:inset 0px 0px 10px 5px #000000;
	color: #5F0D00;
	width: 209px;
	height: 47px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 3px;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8D40) to(#FF6700));
	background-image: -webkit-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -moz-linear-gradient(top,#FF8D40, #FF6700);
	background-image: -ms-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -o-linear-gradient(top, #FF8D40, #FF6700);
	background-image: linear-gradient(top, #FF8D40, #FF6700);
}

.menuLink-Left:hover
{
	float: left;
	-moz-border-radius: 25px 0px 0px 25px;
	border-radius: 25px 0px 0px 25px;
	-moz-box-shadow:inset 0px 0px 10px 5px #000000;
  	-webkit-box-shadow:inset 0px 0px 10px 5px #000000;
    box-shadow:inset 0px 0px 10px 5px #000000;
	color: #5F0D00;
	width: 209px;
	height: 47px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #F34428;
	padding-top: 3px;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8D40) to(#FF6700));
	background-image: -webkit-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -moz-linear-gradient(top,#FF8D40, #FF6700);
	background-image: -ms-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -o-linear-gradient(top, #FF8D40, #FF6700);
	background-image: linear-gradient(top, #FF8D40, #FF6700);
}

.menuLink-Middle:hover
{
	float: left;
	-moz-box-shadow:inset 0px 0px 10px 5px #000000;
  	-webkit-box-shadow:inset 0px 0px 10px 5px #000000;
    box-shadow:inset 0px 0px 10px 5px #000000;
	color: #5F0D00;
	width: 209px;
	height: 47px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #F34428;
	padding-top: 3px;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8D40) to(#FF6700));
	background-image: -webkit-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -moz-linear-gradient(top,#FF8D40, #FF6700);
	background-image: -ms-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -o-linear-gradient(top, #FF8D40, #FF6700);
	background-image: linear-gradient(top, #FF8D40, #FF6700);
}

.menuLink-Right:hover
{
	float: left;
	-moz-border-radius: 0px 25px 25px 0px;
	border-radius: 0px 25px 25px 0px;
	-moz-box-shadow:inset 0px 0px 10px 5px #000000;
  	-webkit-box-shadow:inset 0px 0px 10px 5px #000000;
    box-shadow:inset 0px 0px 10px 5px #000000;
	color: #5F0D00;
	width: 209px;
	height: 47px;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 3px;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8D40) to(#FF6700));
	background-image: -webkit-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -moz-linear-gradient(top,#FF8D40, #FF6700);
	background-image: -ms-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -o-linear-gradient(top, #FF8D40, #FF6700);
	background-image: linear-gradient(top, #FF8D40, #FF6700);
}

.menuContainer
{
	background-color: white;
	margin-left: -20px;
	margin-top: 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	border-radius: 25px 25px 25px 25px;
	height: 50px;
	width: 840px;
	margin-top: -10px;
	-moz-box-shadow: 0px 0px 10px 5px #000000;
  	-webkit-box-shadow: 0px 0px 10px 5px #000000;
    box-shadow: 0px 0px 10px 5px #000000;
    border: 1px solid #F34428;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#FAA092) to(#BF2D16));
	background-image: -webkit-linear-gradient(top, #FAA092, #BF2D16);
	background-image: -moz-linear-gradient(top,#FAA092, #BF2D16);
	background-image: -ms-linear-gradient(top, #FAA092, #BF2D16);
	background-image: -o-linear-gradient(top, #FAA092, #BF2D16);
	background-image: linear-gradient(top, #FAA092, #BF2D16);
}

.smallBanner
{
	padding: 20px;
	padding-top: 10px;
	background-color: white;
	margin-left: -20px;
	margin-top: 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	border-radius: 25px 25px 25px 25px;
	width: 800px;
	-moz-box-shadow: 0px 0px 20px 10px #000000;
  	-webkit-box-shadow: 0px 0px 20px 10px #000000;
    box-shadow: 0px 0px 20px 10px #000000;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#FAC692) to(#FA9A64));
	background-image: -webkit-linear-gradient(top, #FAC692, #FA9A64);
	background-image: -moz-linear-gradient(top,#FAC692, #FA9A64);
	background-image: -ms-linear-gradient(top, #FAC692, #FA9A64);
	background-image: -o-linear-gradient(top, #FAC692, #FA9A64);
	background-image: linear-gradient(top, #FAC692, #FA9A64);
}

.smallBannerTitle
{
	float: left;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}

.contentPane
{
	min-height: 300px;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	width: 780px;
	background-color: #AAAAAA;

	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;

	-moz-box-shadow: 0px 0px 7px 5px #000000;
  	-webkit-box-shadow: 0px 0px 7px 5px #000000;
    box-shadow: 0px 0px 7px 5px #000000;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#FBD9B6) to(#FBA89B));
	background-image: -webkit-linear-gradient(top, #FBD9B6, #FBA89B);
	background-image: -moz-linear-gradient(top,#FBD9B6, #FBA89B);
	background-image: -ms-linear-gradient(top, #FBD9B6, #FBA89B);
	background-image: -o-linear-gradient(top, #FBD9B6, #FBA89B);
	background-image: linear-gradient(top, #FBD9B6, #FBA89B);
}

.contentImages
{
	margin-top: 25px;
	margin-left: 25px;
	width: 350px;
	height: 250px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid black;

	-moz-box-shadow: 0px 0px 7px 5px #000000;
  	-webkit-box-shadow: 0px 0px 7px 5px #000000;
    box-shadow: 0px 0px 7px 5px #000000;
}

.contentPaneRight
{
	margin-top: 25px;
	margin-left: 40px;
	width: 340px;
	height: 230px;
	padding: 10px;
	background-image: url("background.png");

	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid black;

	-moz-box-shadow: 0px 0px 7px 5px #000000;
  	-webkit-box-shadow: 0px 0px 7px 5px #000000;
    box-shadow: 0px 0px 7px 5px #000000;
}

.contentPaneRight-SyrupSize
{
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width: 69px;
	height: 90px;
	text-align: center;
	padding: 0px;

	-moz-box-shadow:inset 0px 0px 5px 2px #000000;
  	-webkit-box-shadow:inset 0px 0px 5px 2px #000000;
    box-shadow:inset 0px 0px 5px 2px #000000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FAC692) to(#FA9A64));
	background-image: -webkit-linear-gradient(top, #FAC692, #FA9A64);
	background-image: -moz-linear-gradient(top,#FAC692, #FA9A64);
	background-image: -ms-linear-gradient(top, #FAC692, #FA9A64);
	background-image: -o-linear-gradient(top, #FAC692, #FA9A64);
	background-image: linear-gradient(top, #FAC692, #FA9A64);
}

.contentPaneRight-SyrupSize:hover
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FBD9B6) to(#FBA89B));
	background-image: -webkit-linear-gradient(top, #FBD9B6, #FBA89B);
	background-image: -moz-linear-gradient(top,#FBD9B6, #FBA89B);
	background-image: -ms-linear-gradient(top, #FBD9B6, #FBA89B);
	background-image: -o-linear-gradient(top, #FBD9B6, #FBA89B);
	background-image: linear-gradient(top, #FBD9B6, #FBA89B);
}

.readMore
{
	margin-top: 0px;
	padding-top: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width: 150px;
	height: 25px;
	text-align: center;
	-moz-box-shadow:inset 0px 0px 5px 2px #000000;
  	-webkit-box-shadow:inset 0px 0px 5px 2px #000000;
    box-shadow:inset 0px 0px 5px 2px #000000;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#FBD9B6) to(#FBA89B));
	background-image: -webkit-linear-gradient(top, #FBD9B6, #FBA89B);
	background-image: -moz-linear-gradient(top,#FBD9B6, #FBA89B);
	background-image: -ms-linear-gradient(top, #FBD9B6, #FBA89B);
	background-image: -o-linear-gradient(top, #FBD9B6, #FBA89B);
	background-image: linear-gradient(top, #FBD9B6, #FBA89B);
}

.readMore:hover
{
	margin-top: 0px;
	padding-top: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width: 150px;
	height: 25px;
	text-align: center;
	-moz-box-shadow:inset 0px 0px 5px 2px #000000;
  	-webkit-box-shadow:inset 0px 0px 5px 2px #000000;
    box-shadow:inset 0px 0px 5px 2px #000000;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8D40) to(#FF6700));
	background-image: -webkit-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -moz-linear-gradient(top,#FF8D40, #FF6700);
	background-image: -ms-linear-gradient(top, #FF8D40, #FF6700);
	background-image: -o-linear-gradient(top, #FF8D40, #FF6700);
	background-image: linear-gradient(top, #FF8D40, #FF6700);
}

.footer
{
	text-align: center;
	color: #FBA89B;
	margin-top: 20px;
	min-height: 40px;
	padding-left: 20px;
}